.progress-bar {
  background-color: rgb(151, 151, 151);
  position: sticky;
  top: 0px;
  left: 0px;
  transition-duration: 0.4s;
  z-index: 100;
}

.progress-bar-level {
  background-color: green;
  height: 10px;
  transition: width 1s;
  z-index: 100;
}
