.quiz-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.quiz-question-title {
  margin: 1rem;
}

.quiz-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-element span {
  margin-bottom: 1rem;
}

.quiz-elements {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-image {
  height: 100px;
  margin: 1rem 2rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.quiz-image:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.checkbox {
  background-color: aliceblue;
  display: none;
  width: 30px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.checkbox:checked + .quiz-image,
.checkbox:checked ~ span {
  filter: var(--drop-shadow01);
}
