.quiz-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.quiz-question-title {
  margin: 1rem;
}

.quiz-elements {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.quiz-element {
}

.quiz-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 3rem;
}

.quiz-span {
  padding-bottom: 1rem;
  position: relative;
  width: 130px;
  text-align: center;
}

.quiz-image {
  height: 100px;
  margin: 1rem 2rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.quiz-image:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.checkbox {
  background-color: aliceblue;
  display: none;
  position: absolute;
  top: 180px;
  width: 30px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.checkbox:checked + .quiz-image {
  filter: drop-shadow(0 0 0.55rem rgba(232, 232, 255, 0.466));
}

.quiz-span::after {
  content: url(../../../images/thumbs-up-solid.svg);
  filter: invert(42%);
  color: #cfcfcf9b;
  position: absolute;
  text-align: center;
  height: 30px;
  width: 30px;
  top: 38px;
  right: 50px;
  cursor: pointer;
}

.checkbox:checked ~ .quiz-span::after {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 0.55rem rgba(232, 232, 255, 0.466));
}

@media screen and (max-width: 768px) {
  .quiz-span {
    margin-bottom: 1rem;
    position: relative;
    width: 130px;
    text-align: center;
  }

  .quiz-image {
    margin: 1rem 1rem;
  }
}
